<div class="main">

<h1 class="main-h1">Welcome to the <%= link_to "thecodechaser.com", "https://thecodechaser.com", class: "link" %></h1>
<p class="second-p">We are sorry! APIs are not publicly available</p>
<h1 class="main-h2">Visit <%= link_to "thecodechaser.com", "https://thecodechaser.com", class: "link" %></h1>
</div>