<div>

<% if @user %>

<div>
<p><%= @user.name %>

<p><%= @user.bio %>
<%= link_to "portfolio", "https://thecodechaser.com", :target => "_blank" %>
<img class="user-img" src=<%= @user.photo_link %> alt="user"/>
<div>
<%end%>
</div>